.xui-progress {
    width: 98%;
    height: 14px;
    overflow: hidden;
    background-color: #e5e8ec;
    border-radius: 6px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}

.xui-progress-bar {
    height: 100%;
    width: var(--percent);
    font-size: 12px;
    text-align: center;
    color: #fff;
    line-height: 14px;
    background-color:#5cb85c;
    background-color: var(--color);
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
    background-position: inherit;
    background-repeat: repeat;
    transition: width .6s ease;
}
:not(.xui-success-status)>.xui-progress-bar{
    background-size: 40px 40px !important;
}
.xui-progress-stripes>.xui-progress-bar {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.ui-progress-stripesMove>.xui-progress-bar {
    animation: xui-progress-bar-stripes 2s linear infinite;
}
.xui-failed-status>.xui-progress-bar {
    background-color: #d9534f !important;
}
.xui-success-status>.xui-progress-bar {
    background-image: linear-gradient(to right, var(--color) 0%, rgb(135, 208, 104) 100%);
}
@keyframes xui-progress-bar-stripes {
    from {
        background-position: 40px 0;
    }

    to {
        background-position: 0 0;
    }
}
.xui-progress-circle {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, .85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum";
    display: inline-block;
    width: 120px;
    height: 120px;
}

.xui-progress-inner {
    position: relative;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    vertical-align: middle;
    background-color: #f5f5f5;
    border-radius: 100px;
}

.xui-progress-circle .xui-progress-inner {
    position: relative;
    line-height: 1;
    background-color: transparent;
    width: 100%;
    height: 100%;
    font-size: 24px;
}

.xui-progress-circle-trail {
    stroke: #f5f5f5;
}

.xui-progress-circle-path {
    animation: xui-progress-appear .3s;
}

.xui-progress-inner:not(.xui-progress-circle-gradient) .xui-progress-circle-path {
    stroke: var(--color);
}
.xui-success-status:not(.xui-progress-circle-gradient) .xui-progress-circle-path {
    stroke: #5cb85c;
}
.xui-progress-text {
    display: inline-block;
    width: 2em;
    margin-left: 8px;
    color: rgba(0, 0, 0, .45);
    font-size: 1em;
    line-height: 1;
    white-space: nowrap;
    text-align: left;
    vertical-align: middle;
    word-break: normal;
}

.xui-progress-circle .xui-progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, .85);
    font-size: 1em;
    line-height: 1;
    white-space: normal;
    text-align: center;
    transform: translate(-50%, -50%);
}